# SQL Lite db name
db.name=${WSM.workspaceName}.db

# DB creation script
ddl.script=META-INF/${WSM.workspaceName}.sql

# Location of XML mapping file in classpath
persistence.mapping.xml=META-INF/persistence-mapping.xml

# Usage tracking
tracking.enabled=${WSM.enableUsageTracking}
