**/deploy/**
**/classes/**
**/.data/**
**/dist/**
**/javadoc/**
**/stage/**
Projects/Framework/.data
Projects/Framework/DesignTime/classes
Projects/Framework/DesignTime/deploy
Projects/Framework/Runtime/deploy
Projects/Framework/Runtime/javadoc
Projects/Framework/stage
